<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
  <%= label_tag :email %>
  <%= text_field_tag :email%>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
<%end%>

<h2> Create an Account here</h2>
<li class='nav-item'><%= link_to 'Create Account', new_user_path, class: 'nav-link' %></li>